@using Sitecore.Mvc


<div class="Containers">
    <div class=" row">
        <div class=" col-md-3">
            @Html.Sitecore().Placeholder("Left-Col")
        </div>
        <div class=" col-md-3">
            @Html.Sitecore().Placeholder("MID-Col")
        </div>
        <div class=" col-md-3">
            @Html.Sitecore().Placeholder("midium-col")
        </div>
        <div class="col-md-3">
            @Html.Sitecore().Placeholder("Right-Col")
        </div>
    </div>
</div>